In [1]:
import pandas as pd 
import glob

In [30]:
matches_2022 = pd.read_csv(r"C:\Users\msi\Desktop\world-cup-26\2022_world_cup_matches1.csv")
matches_2022.head()

   ID  Year        Stage      Home Team    Away Team
0   1  2022  Group stage          Qatar      Ecuador
1   2  2022  Group stage        Senegal  Netherlands
2   3  2022  Group stage        England         Iran
3   4  2022  Group stage  United States        Wales
4   5  2022  Group stage         France    Australia

In [32]:
world_cup_matches = pd.read_csv(r"C:\Users\msi\Desktop\world-cup-26\world_cup_matches1.csv")
world_cup_matches.head()

,ID,Year,Stage,Home Team,Home Goals,Away Goals,Away Team,Host Team or Not
0,1,1930,Group stage,France,4,1,Mexico,0
1,2,1930,Group stage,United States,3,0,Belgium,0
2,3,1930,Group stage,Yugoslavia,2,1,Brazil,0
3,4,1930,Group stage,Romania,3,1,Peru,0
4,5,1930,Group stage,Argentina,1,0,France,0

In [43]:
international_matches = pd.read_csv(r"C:\Users\msi\Desktop\world-cup-26\international_matches1.csv")
international_matches.head()

,ID,Tournament,Date,Home Team,Away Team,Home Goals,Away Goals,Home Stadium or Not
0,1,Friendly,1872-11-30,Scotland,England,0,0,1
1,2,Friendly,1873-03-08,England,Scotland,4,2,1
2,3,Friendly,1874-03-07,Scotland,England,2,1,1
3,4,Friendly,1875-03-06,England,Scotland,2,2,1
4,5,Friendly,1876-03-04,Scotland,England,3,0,1

In [50]:
world_cups = pd.read_csv(r"C:\Users\msi\Desktop\world-cup-26\world_cups1.csv")
world_cups.head()

,Year,Host Country,Winner,Runners-Up,Third,Fourth,Goals Scored,Matches Played,Qualified Teams
0,1930,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70,18,13
1,1934,Italy,Italy,Czechoslovakia,Germany,Austria,70,17,16
2,1938,France,Italy,Hungary,Brazil,Sweden,84,18,15
3,1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,22,13
4,1954,Switzerland,Germany FR,Hungary,Austria,Uruguay,140,26,16

In [54]:

player_files = glob.glob(r"C:\Users\msi\Desktop\world-cup-26\players_folder\*.csv")  
players_df = pd.concat([pd.read_csv(file) for file in player_files], ignore_index=True)
players_df.head()

,player,position,team,age,birth_year,minutes_90s,tackles,tackles_won,tackles_def_3rd,tackles_mid_3rd,...,assists_per90,goals_assists_per90,goals_pens_per90,goals_assists_pens_per90,npxg_xg_assist,xg_per90,xg_assist_per90,xg_xg_assist_per90,npxg_per90,npxg_xg_assist_per90
0,Aaron Mooy,MF,Australia,32-094,1990,4.0,9.0,6.0,4.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Aaron Ramsey,MF,Wales,31-357,1990,3.0,2.0,0.0,0.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Abdelhamid Sabiri,MF,Morocco,26-020,1996,2.0,3.0,1.0,1.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Abdelkarim Hassan,DF,Qatar,29-112,1993,3.0,7.0,3.0,5.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Abderrazak Hamdallah,FW,Morocco,32-001,1990,0.8,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [66]:
team_stats = pd.read_csv(r"C:\Users\msi\Desktop\world-cup-26\match-data.csv")
team_stats.head()

,match,dayofweek,match_time,home_team,away_team,home_xg,away_xg,score,attendance,venue,...,home_clearances,away_clearances,home_offsides,away_offsides,home_gks,away_gks,home_throw_ins,away_throw_ins,home_long_balls,away_long_balls
0,1,Sun,2022-11-20 19:00:00,Qatar,Ecuador,0.3,1.2,0–2,67372,Al Bayt Stadium,...,18,7,3,4,4,7,20,17,51,70
1,2,Mon,2022-11-21 16:00:00,England,IR Iran,2.1,1.4,6–2,45334,Khalifa International Stadium,...,4,23,2,2,5,5,18,17,87,50
2,3,Mon,2022-11-21 19:00:00,Senegal,Netherlands,0.9,0.7,0–2,41721,Al Thumama Stadium,...,32,16,2,1,6,10,17,28,64,66
3,4,Mon,2022-11-21 22:00:00,United States,Wales,0.8,1.5,1–1,43418,Ahmed bin Ali Stadium,...,18,31,1,1,5,10,22,25,56,90
4,5,Tue,2022-11-22 13:00:00,Argentina,Saudi Arabia,2.2,0.1,1–2,88012,Lusail Iconic Stadium,...,11,26,10,1,3,9,24,13,55,59

In [26]:
def clean_columns(df):
    df.columns = df.columns.str.lower().str.replace(' ', '_')
    return df

In [27]:
matches_2022 = clean_columns(matches_2022)
world_cup_matches = clean_columns(world_cup_matches)
international_matches = clean_columns(international_matches)
world_cups = clean_columns(world_cups)
players_df = clean_columns(players_df)
team_stats = clean_columns(team_stats)

In [31]:

matches_2022.columns = ['id', 'year', 'stage', 'home_team', 'away_team']
matches_2022.dropna(subset=['home_team', 'away_team','id', 'year', 'stage'], inplace=True)
matches_2022['home_team'] = matches_2022['home_team'].str.strip().str.title()
matches_2022['away_team'] = matches_2022['away_team'].str.strip().str.title()
matches_2022.drop_duplicates(inplace=True)
print(matches_2022.head())

   id  year        stage      home_team    away_team
0   1  2022  Group stage          Qatar      Ecuador
1   2  2022  Group stage        Senegal  Netherlands
2   3  2022  Group stage        England         Iran
3   4  2022  Group stage  United States        Wales
4   5  2022  Group stage         France    Australia

In [40]:

world_cup_matches.columns = [
    'id', 'year', 'stage', 'home_team', 'home_goals',
    'away_goals', 'away_team'
]
world_cup_matches.dropna(subset=['home_team', 'away_team', 'home_goals', 'away_goals'], inplace=True)
world_cup_matches['home_goals'] = pd.to_numeric(world_cup_matches['home_goals'], errors='coerce')
world_cup_matches['away_goals'] = pd.to_numeric(world_cup_matches['away_goals'], errors='coerce')
world_cup_matches['home_team'] = world_cup_matches['home_team'].str.strip().str.title()
world_cup_matches['away_team'] = world_cup_matches['away_team'].str.strip().str.title()
world_cup_matches['stage'] = world_cup_matches['stage'].str.strip().str.title()
world_cup_matches.drop(columns=['host_team_flag'], inplace=True)
print("Duplicate IDs:", world_cup_matches['id'].duplicated().sum())
dupes = world_cup_matches.duplicated(subset=['year', 'home_team', 'away_team'])
print("Duplicate team matchups:", dupes.sum())
def get_result(row):
    if row['home_goals'] > row['away_goals']:
        return 'home_win'
    elif row['home_goals'] < row['away_goals']:
        return 'away_win'
    else:
        return 'draw'
world_cup_matches['result'] = world_cup_matches.apply(get_result, axis=1)
world_cup_matches['goal_difference'] = abs(world_cup_matches['home_goals'] - world_cup_matches['away_goals'])
print(world_cup_matches.head())

ValueError: Length mismatch: Expected axis has 9 elements, new values have 7 elements

In [41]:
print(world_cup_matches.head())

   id  year        stage      home_team  home_goals  away_goals away_team  \
0   1  1930  Group Stage         France           4           1    Mexico
1   2  1930  Group Stage  United States           3           0   Belgium
2   3  1930  Group Stage     Yugoslavia           2           1    Brazil
3   4  1930  Group Stage        Romania           3           1      Peru
4   5  1930  Group Stage      Argentina           1           0    France

     result  goal_difference
0  home_win                3
1  home_win                3
2  home_win                1
3  home_win                2
4  home_win                1

In [44]:
world_cup_matches.drop_duplicates(inplace=True)

In [45]:
world_cup_matches

,id,year,stage,home_team,home_goals,away_goals,away_team,result,goal_difference
0,1,1930,Group Stage,France,4,1,Mexico,home_win,3
1,2,1930,Group Stage,United States,3,0,Belgium,home_win,3
2,3,1930,Group Stage,Yugoslavia,2,1,Brazil,home_win,1
3,4,1930,Group Stage,Romania,3,1,Peru,home_win,2
4,5,1930,Group Stage,Argentina,1,0,France,home_win,1
...,...,...,...,...,...,...,...,...,...
895,896,2018,Quarter-Finals,Russia,2,2,Croatia,draw,0
896,897,2018,Semi-Finals,France,1,0,Belgium,home_win,1
897,898,2018,Semi-Finals,Croatia,2,1,England,home_win,1
898,899,2018,Third Place,Belgium,2,0,England,home_win,2
899,900,2018,Final,France,4,2,Croatia,home_win,2

In [49]:

international_matches.columns = [
    'id', 'tournament', 'date', 'home_team',
    'away_team', 'home_goals', 'away_goals', 'home_stadium_flag'
]
international_matches.dropna(subset=['home_team', 'away_team', 'home_goals', 'away_goals'], inplace=True)
international_matches['home_goals'] = pd.to_numeric(international_matches['home_goals'], errors='coerce')
international_matches['away_goals'] = pd.to_numeric(international_matches['away_goals'], errors='coerce')
international_matches['date'] = pd.to_datetime(international_matches['date'], errors='coerce')
international_matches['home_team'] = international_matches['home_team'].str.strip().str.title()
international_matches['away_team'] = international_matches['away_team'].str.strip().str.title()
international_matches['tournament'] = international_matches['tournament'].str.strip().str.title()
international_matches.drop(columns=['home_stadium_flag'], inplace=True)
international_matches.drop_duplicates(inplace=True)
def get_result(row):
    if row['home_goals'] > row['away_goals']:
        return 'home_win'
    elif row['home_goals'] < row['away_goals']:
        return 'away_win'
    else:
        return 'draw'
international_matches['result'] = international_matches.apply(get_result, axis=1)
international_matches.head()

ValueError: Length mismatch: Expected axis has 9 elements, new values have 8 elements

In [47]:

international_matches['goal_difference'] = abs(
    international_matches['home_goals'] - international_matches['away_goals']
)

In [48]:
international_matches.head()

,id,tournament,date,home_team,away_team,home_goals,away_goals,result,goal_difference
0,1,Friendly,1872-11-30,Scotland,England,0,0,draw,0
1,2,Friendly,1873-03-08,England,Scotland,4,2,home_win,2
2,3,Friendly,1874-03-07,Scotland,England,2,1,home_win,1
3,4,Friendly,1875-03-06,England,Scotland,2,2,draw,0
4,5,Friendly,1876-03-04,Scotland,England,3,0,home_win,3

In [51]:

world_cups.columns = [
    'year', 'host_country', 'winner', 'runners_up', 'third',
    'fourth', 'goals_scored', 'matches_played', 'qualified_teams'
]
world_cups.dropna(subset=['year', 'winner', 'runners_up'], inplace=True)
world_cups['year'] = pd.to_numeric(world_cups['year'], errors='coerce')
numeric_cols = ['goals_scored', 'matches_played', 'qualified_teams']
world_cups[numeric_cols] = world_cups[numeric_cols].apply(pd.to_numeric, errors='coerce')
for col in ['host_country', 'winner', 'runners_up', 'third', 'fourth']:
    world_cups[col] = world_cups[col].str.strip().str.title()
world_cups.drop_duplicates(inplace=True)
print(world_cups.head())

   year host_country      winner      runners_up    third      fourth  \
0  1930      Uruguay     Uruguay       Argentina      Usa  Yugoslavia
1  1934        Italy       Italy  Czechoslovakia  Germany     Austria
2  1938       France       Italy         Hungary   Brazil      Sweden
3  1950       Brazil     Uruguay          Brazil   Sweden       Spain
4  1954  Switzerland  Germany Fr         Hungary  Austria     Uruguay

   goals_scored  matches_played  qualified_teams
0            70              18               13
1            70              17               16
2            84              18               15
3            88              22               13
4           140              26               16

In [52]:

world_cups['goals_per_match'] = world_cups['goals_scored'] / world_cups['matches_played']
world_cups['decade'] = (world_cups['year'] // 10) * 10

In [53]:
world_cups

,year,host_country,winner,runners_up,third,fourth,goals_scored,matches_played,qualified_teams,goals_per_match,decade
0,1930,Uruguay,Uruguay,Argentina,Usa,Yugoslavia,70,18,13,3.888889,1930
1,1934,Italy,Italy,Czechoslovakia,Germany,Austria,70,17,16,4.117647,1930
2,1938,France,Italy,Hungary,Brazil,Sweden,84,18,15,4.666667,1930
3,1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,22,13,4.000000,1950
4,1954,Switzerland,Germany Fr,Hungary,Austria,Uruguay,140,26,16,5.384615,1950
5,1958,Sweden,Brazil,Sweden,France,Germany Fr,126,35,16,3.600000,1950
6,1962,Chile,Brazil,Czechoslovakia,Chile,Yugoslavia,89,32,16,2.781250,1960
7,1966,England,England,Germany Fr,Portugal,Soviet Union,89,32,16,2.781250,1960
8,1970,Mexico,Brazil,Italy,Germany Fr,Uruguay,95,32,16,2.968750,1970
9,1974,Germany,Germany Fr,Netherlands,Poland,Brazil,97,38,16,2.552632,1970
10,1978,Argentina,Argentina,Netherlands,Brazil,Italy,102,38,16,2.684211,1970
11,1982,Spain,Italy,Germany Fr,Poland,France,146,52,24,2.807692,1980
12,1986,Mexico,Argentina,Germany Fr,France,Belgium,132,52,24,2.538462,1980
13,1990,Italy,Germany Fr,Argentina,Italy,England,115,52,24,2.211538,1990
14,1994,Usa,Brazil,Italy,Sweden,Bulgaria,141,52,24,2.711538,1990
15,1998,France,France,Brazil,Croatia,Netherlands,171,64,32,2.671875,1990
16,2002,Korea/Japan,Brazil,Germany,Turkey,Korea Republic,161,64,32,2.515625,2000
17,2006,Germany,Italy,France,Germany,Portugal,147,64,32,2.296875,2000
18,2010,South Africa,Spain,Netherlands,Germany,Uruguay,145,64,32,2.265625,2010
19,2014,Brazil,Germany,Argentina,Netherlands,Brazil,171,64,32,2.671875,2010
20,2018,Russia,France,Croatia,Belgium,England,169,64,32,2.640625,2010

In [55]:

players_df.drop_duplicates(inplace=True)
players_df.dropna(subset=['player', 'team', 'position'], inplace=True)
players_df['player'] = players_df['player'].str.strip().str.title()
players_df['team'] = players_df['team'].str.strip().str.title()
players_df['position'] = players_df['position'].str.strip().str.upper()
players_df['age'] = pd.to_numeric(players_df['age'], errors='coerce')
players_df['birth_year'] = pd.to_numeric(players_df['birth_year'], errors='coerce')
numeric_cols = [
    'minutes_90s', 'tackles', 'tackles_won', 'tackles_def_3rd', 'tackles_mid_3rd',
    'assists_per90', 'goals_assists_per90', 'goals_pens_per90', 'goals_assists_pens_per90',
    'npxg_xg_assist', 'xg_per90', 'xg_assist_per90', 'xg_xg_assist_per90',
    'npxg_per90', 'npxg_xg_assist_per90'
]
players_df[numeric_cols] = players_df[numeric_cols].apply(pd.to_numeric, errors='coerce')
players_df = players_df[players_df['minutes_90s'] > 0]
print(players_df.head())

                 player position       team  age  birth_year  minutes_90s  \
0            Aaron Mooy       MF  Australia  NaN        1990          4.0
1          Aaron Ramsey       MF      Wales  NaN        1990          3.0
2     Abdelhamid Sabiri       MF    Morocco  NaN        1996          2.0
3     Abdelkarim Hassan       DF      Qatar  NaN        1993          3.0
4  Abderrazak Hamdallah       FW    Morocco  NaN        1990          0.8

   tackles  tackles_won  tackles_def_3rd  tackles_mid_3rd  ...  assists_per90  \
0      9.0          6.0              4.0              4.0  ...            NaN
1      2.0          0.0              0.0              2.0  ...            NaN
2      3.0          1.0              1.0              2.0  ...            NaN
3      7.0          3.0              5.0              2.0  ...            NaN
4      0.0          0.0              0.0              0.0  ...            NaN

   goals_assists_per90  goals_pens_per90  goals_assists_pens_per90  \
0                  NaN               NaN                       NaN
1                  NaN               NaN                       NaN
2                  NaN               NaN                       NaN
3                  NaN               NaN                       NaN
4                  NaN               NaN                       NaN

   npxg_xg_assist  xg_per90  xg_assist_per90  xg_xg_assist_per90  npxg_per90  \
0             NaN       NaN              NaN                 NaN         NaN
1             NaN       NaN              NaN                 NaN         NaN
2             NaN       NaN              NaN                 NaN         NaN
3             NaN       NaN              NaN                 NaN         NaN
4             NaN       NaN              NaN                 NaN         NaN

   npxg_xg_assist_per90
0                   NaN
1                   NaN
2                   NaN
3                   NaN
4                   NaN

[5 rows x 193 columns]

In [56]:
null_counts = players_df.isnull().sum()

In [57]:
missing = null_counts[null_counts > 0]
print(missing)

age                     6065
tackles                 5402
tackles_won             4735
tackles_def_3rd         5402
tackles_mid_3rd         5402
                        ...
xg_per90                5403
xg_assist_per90         5403
xg_xg_assist_per90      5403
npxg_per90              5403
npxg_xg_assist_per90    5403
Length: 188, dtype: int64

In [58]:
threshold = 0.9 * len(players_df)
players_df = players_df.dropna(thresh=threshold, axis=1)

In [62]:
print(players_df.columns.tolist())

['player', 'position', 'team', 'birth_year', 'minutes_90s']

In [63]:
players_df

                    player position        team  birth_year  minutes_90s
0               Aaron Mooy       MF   Australia        1990          4.0
1             Aaron Ramsey       MF       Wales        1990          3.0
2        Abdelhamid Sabiri       MF     Morocco        1996          2.0
3        Abdelkarim Hassan       DF       Qatar        1993          3.0
4     Abderrazak Hamdallah       FW     Morocco        1990          0.8
...                    ...      ...         ...         ...          ...
6346        Ángel Di María       MF   Argentina        1988          3.2
6347       Ángelo Preciado       DF     Ecuador        1998          2.9
6348          Éder Militão       DF      Brazil        1998          3.9
6349          Óscar Duarte       DF  Costa Rica        1989          3.0
6350        İlkay Gündoğan       MF     Germany        1990          2.1

[6065 rows x 5 columns]

In [64]:

players_df.drop_duplicates(inplace=True)
players_df.dropna(subset=['player', 'team', 'birth_year', 'minutes_90s'], inplace=True)


players_df['player'] = players_df['player'].str.strip().str.title()
players_df['team'] = players_df['team'].str.strip().str.title()
players_df['position'] = players_df['position'].str.strip().str.upper()


players_df['birth_year'] = pd.to_numeric(players_df['birth_year'], errors='coerce')
players_df['minutes_90s'] = pd.to_numeric(players_df['minutes_90s'], errors='coerce')


players_df['age'] = 2022 - players_df['birth_year']

In [65]:
print(players_df.isnull().sum())
print(players_df.head())

player         0
position       0
team           0
birth_year     0
minutes_90s    0
age            0
dtype: int64
                 player position       team  birth_year  minutes_90s  age
0            Aaron Mooy       MF  Australia        1990          4.0   32
1          Aaron Ramsey       MF      Wales        1990          3.0   32
2     Abdelhamid Sabiri       MF    Morocco        1996          2.0   26
3     Abdelkarim Hassan       DF      Qatar        1993          3.0   29
4  Abderrazak Hamdallah       FW    Morocco        1990          0.8   32

In [67]:

team_stats.dropna(subset=['home_team', 'away_team', 'home_xg', 'away_xg', 'score'], inplace=True)
team_stats['home_team'] = team_stats['home_team'].str.strip().str.title()
team_stats['away_team'] = team_stats['away_team'].str.strip().str.title()
team_stats['match_time'] = pd.to_datetime(team_stats['match_time'], errors='coerce')
numeric_cols = [
    'home_xg', 'away_xg', 'attendance',
    'home_clearances', 'away_clearances',
    'home_offsides', 'away_offsides',
    'home_gks', 'away_gks',
    'home_throw_ins', 'away_throw_ins',
    'home_long_balls', 'away_long_balls'
]
team_stats[numeric_cols] = team_stats[numeric_cols].apply(pd.to_numeric, errors='coerce')
team_stats.drop_duplicates(inplace=True)
def extract_goal_diff(score):
    try:
        home_goals, away_goals = map(int, score.split('-'))
        return home_goals - away_goals
    except:
        return None
team_stats['goal_difference'] = team_stats['score'].apply(extract_goal_diff)

In [68]:
team_stats

,match,dayofweek,match_time,home_team,away_team,home_xg,away_xg,score,attendance,venue,...,away_clearances,home_offsides,away_offsides,home_gks,away_gks,home_throw_ins,away_throw_ins,home_long_balls,away_long_balls,goal_difference
0,1,Sun,2022-11-20 19:00:00,Qatar,Ecuador,0.3,1.2,0–2,67372,Al Bayt Stadium,...,7,3,4,4,7,20,17,51,70,None
1,2,Mon,2022-11-21 16:00:00,England,Ir Iran,2.1,1.4,6–2,45334,Khalifa International Stadium,...,23,2,2,5,5,18,17,87,50,None
2,3,Mon,2022-11-21 19:00:00,Senegal,Netherlands,0.9,0.7,0–2,41721,Al Thumama Stadium,...,16,2,1,6,10,17,28,64,66,None
3,4,Mon,2022-11-21 22:00:00,United States,Wales,0.8,1.5,1–1,43418,Ahmed bin Ali Stadium,...,31,1,1,5,10,22,25,56,90,None
4,5,Tue,2022-11-22 13:00:00,Argentina,Saudi Arabia,2.2,0.1,1–2,88012,Lusail Iconic Stadium,...,26,10,1,3,9,24,13,55,59,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,60,Sat,2022-12-10 22:00:00,England,France,2.4,0.9,1–2,68895,Al Bayt Stadium,...,16,1,2,9,5,16,14,61,62,None
60,61,Tue,2022-12-13 22:00:00,Argentina,Croatia,2.3,0.5,3–0,88966,Lusail Iconic Stadium,...,6,1,0,9,4,19,21,49,43,None
61,62,Wed,2022-12-14 22:00:00,France,Morocco,1.9,0.9,2–0,68294,Al Bayt Stadium,...,3,4,3,8,10,14,18,55,40,None
62,63,Sat,2022-12-17 18:00:00,Croatia,Morocco,0.7,1.2,2–1,44137,Khalifa International Stadium,...,16,2,2,12,11,14,19,53,46,None
63,64,Sun,2022-12-18 18:00:00,Argentina,France,3.3,2.2,(4) 3–3 (2),88966,Lusail Iconic Stadium,...,18,4,4,6,13,26,21,73,94,None

In [69]:

team_stats['score'] = team_stats['score'].str.replace('–', '-', regex=False)

In [70]:

def extract_goal_diff(score):
    try:
        home_goals, away_goals = map(int, score.split('-'))
        return home_goals - away_goals
    except:
        return None


team_stats['goal_difference'] = team_stats['score'].apply(extract_goal_diff)

In [71]:
print(team_stats[['home_team', 'away_team', 'score', 'goal_difference']].head())

       home_team     away_team score  goal_difference
0          Qatar       Ecuador   0-2             -2.0
1        England       Ir Iran   6-2              4.0
2        Senegal   Netherlands   0-2             -2.0
3  United States         Wales   1-1              0.0
4      Argentina  Saudi Arabia   1-2             -1.0

In [72]:
team_stats

,match,dayofweek,match_time,home_team,away_team,home_xg,away_xg,score,attendance,venue,...,away_clearances,home_offsides,away_offsides,home_gks,away_gks,home_throw_ins,away_throw_ins,home_long_balls,away_long_balls,goal_difference
0,1,Sun,2022-11-20 19:00:00,Qatar,Ecuador,0.3,1.2,0-2,67372,Al Bayt Stadium,...,7,3,4,4,7,20,17,51,70,-2.0
1,2,Mon,2022-11-21 16:00:00,England,Ir Iran,2.1,1.4,6-2,45334,Khalifa International Stadium,...,23,2,2,5,5,18,17,87,50,4.0
2,3,Mon,2022-11-21 19:00:00,Senegal,Netherlands,0.9,0.7,0-2,41721,Al Thumama Stadium,...,16,2,1,6,10,17,28,64,66,-2.0
3,4,Mon,2022-11-21 22:00:00,United States,Wales,0.8,1.5,1-1,43418,Ahmed bin Ali Stadium,...,31,1,1,5,10,22,25,56,90,0.0
4,5,Tue,2022-11-22 13:00:00,Argentina,Saudi Arabia,2.2,0.1,1-2,88012,Lusail Iconic Stadium,...,26,10,1,3,9,24,13,55,59,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,60,Sat,2022-12-10 22:00:00,England,France,2.4,0.9,1-2,68895,Al Bayt Stadium,...,16,1,2,9,5,16,14,61,62,-1.0
60,61,Tue,2022-12-13 22:00:00,Argentina,Croatia,2.3,0.5,3-0,88966,Lusail Iconic Stadium,...,6,1,0,9,4,19,21,49,43,3.0
61,62,Wed,2022-12-14 22:00:00,France,Morocco,1.9,0.9,2-0,68294,Al Bayt Stadium,...,3,4,3,8,10,14,18,55,40,2.0
62,63,Sat,2022-12-17 18:00:00,Croatia,Morocco,0.7,1.2,2-1,44137,Khalifa International Stadium,...,16,2,2,12,11,14,19,53,46,1.0
63,64,Sun,2022-12-18 18:00:00,Argentina,France,3.3,2.2,(4) 3-3 (2),88966,Lusail Iconic Stadium,...,18,4,4,6,13,26,21,73,94,NaN

In [73]:
team_stats.columns = team_stats.columns.str.strip().str.lower().str.replace(' ', '_')

In [75]:
team_stats.drop_duplicates(inplace=True)

In [76]:

team_stats['xg_total'] = team_stats['home_xg'] + team_stats['away_xg']
team_stats['xg_diff'] = team_stats['home_xg'] - team_stats['away_xg']
team_stats['clearance_diff'] = team_stats['home_clearances'] - team_stats['away_clearances']
team_stats['long_ball_diff'] = team_stats['home_long_balls'] - team_stats['away_long_balls']

team_features = team_stats.groupby('home_team').agg({
    'xg_total': 'mean',
    'xg_diff': 'mean',
    'clearance_diff': 'mean',
    'long_ball_diff': 'mean',
    'attendance': 'mean'
}).reset_index().rename(columns={'home_team': 'team'})

In [77]:

players_df['age'] = 2022 - players_df['birth_year']
player_features = players_df.groupby('team').agg({
    'age': 'mean',
    'minutes_90s': 'sum'
}).reset_index().rename(columns={'age': 'avg_age', 'minutes_90s': 'total_minutes'})

In [78]:

team_profiles = team_features.merge(player_features, on='team', how='inner')

In [79]:
world_cups['winner_flag'] = 1
team_profiles['winner_flag'] = team_profiles['team'].apply(
    lambda x: 1 if x in world_cups['winner'].values else 0
)

In [80]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

X = team_profiles.drop(columns=['team', 'winner_flag'])
y = team_profiles['winner_flag']

X_train, X_test, y_train, y_test = train_test_split(X, y, stratify=y, test_size=0.2)

model = RandomForestClassifier()
model.fit(X_train, y_train)

RandomForestClassifier()

In [81]:
from sklearn.metrics import classification_report

y_pred = model.predict(X_test)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.83      1.00      0.91         5
           1       1.00      0.50      0.67         2

    accuracy                           0.86         7
   macro avg       0.92      0.75      0.79         7
weighted avg       0.88      0.86      0.84         7

In [82]:
winner_probs = model.predict_proba(X)[:, 1]
team_profiles['win_probability'] = winner_probs
top_teams = team_profiles.sort_values('win_probability', ascending=False)
print(top_teams[['team', 'win_probability']].head(10))

           team  win_probability
3        Brazil             0.81
12      Germany             0.81
0     Argentina             0.78
30      Uruguay             0.66
10      England             0.60
11       France             0.56
26        Spain             0.45
27  Switzerland             0.21
17       Mexico             0.19
21     Portugal             0.18

In [83]:

team_profiles_sorted = team_profiles.sort_values('win_probability', ascending=False)
predicted_winner = team_profiles_sorted.iloc[0]
print(f"The predicted World Cup winner is: {predicted_winner['team']}")
print(f"Win probability: {predicted_winner['win_probability']:.2%}")

The predicted World Cup winner is: Brazil
Win probability: 81.00%

In [85]:
top_value = team_profiles['win_probability'].max()
top_teams = team_profiles[team_profiles['win_probability'] == top_value]
if len(top_teams) == 1:
    winner = top_teams.iloc[0]['team']
else:
    winner = top_teams.sort_values('xg_total', ascending=False).iloc[0]['team']
print(f"The predicted World Cup winner is: {winner}")

The predicted World Cup winner is: Germany

In [87]:
top_teams

,team,xg_total,xg_diff,clearance_diff,long_ball_diff,attendance,avg_age,total_minutes,winner_flag,win_probability
3,Brazil,2.666667,2.0,-8.0,-14.0,58533.0,28.000000,58.6,1,0.81
12,Germany,4.600000,1.6,-34.0,0.0,42608.0,27.444444,32.9,1,0.81

In [88]:
team_profiles

,team,xg_total,xg_diff,clearance_diff,long_ball_diff,attendance,avg_age,total_minutes,winner_flag,win_probability
0,Argentina,2.680000,1.200000,3.60,-13.800000,79988.400000,27.375000,84.7,1,0.78
1,Australia,1.200000,0.000000,14.00,-24.000000,41232.000000,27.300000,43.9,0,0.12
2,Belgium,2.850000,-1.050000,3.00,-0.500000,42085.000000,28.300000,33.0,0,0.08
3,Brazil,2.666667,2.000000,-8.00,-14.000000,58533.000000,28.000000,58.6,1,0.81
4,Cameroon,3.550000,-0.850000,12.00,18.500000,62887.500000,26.863636,33.1,0,0.05
5,Canada,1.900000,0.900000,-14.00,-14.000000,43102.000000,27.736842,33.1,0,0.12
6,Costa Rica,7.000000,-4.400000,37.00,14.000000,67054.000000,28.300000,32.9,0,0.10
7,Croatia,2.925000,-0.625000,2.00,5.500000,44097.000000,27.900000,84.4,0,0.14
8,Denmark,2.300000,0.500000,-26.00,7.000000,42925.000000,27.000000,33.0,0,0.11
9,Ecuador,3.000000,-1.200000,-10.00,6.000000,44569.000000,24.823529,33.0,0,0.01
10,England,2.500000,0.650000,-5.75,11.750000,62169.250000,26.700000,55.2,1,0.60
11,France,3.350000,1.500000,-5.00,11.750000,48254.500000,26.250000,80.7,1,0.56
12,Germany,4.600000,1.600000,-34.00,0.000000,42608.000000,27.444444,32.9,1,0.81
13,Ghana,3.400000,-0.200000,-5.00,-2.000000,43443.000000,25.894737,32.9,0,0.02
14,Ir Iran,1.600000,-0.800000,-3.00,23.000000,42127.000000,28.571429,33.0,0,0.11
15,Japan,2.000000,0.333333,2.00,-12.333333,42951.000000,27.318182,47.6,0,0.02
16,Korea Republic,3.200000,0.300000,-11.50,7.500000,44040.000000,28.050000,44.0,0,0.13
17,Mexico,1.600000,-0.200000,-10.00,-15.000000,39369.000000,28.238095,33.0,0,0.19
18,Morocco,1.633333,0.033333,23.00,-9.333333,49424.000000,26.320000,80.6,0,0.05
19,Netherlands,2.300000,-0.300000,6.00,-1.750000,61174.500000,26.476190,58.5,0,0.10
20,Poland,3.550000,-1.650000,18.00,27.000000,44174.000000,27.050000,43.9,0,0.01
21,Portugal,3.000000,0.733333,0.00,16.666667,71683.333333,26.500000,55.1,0,0.18
22,Qatar,1.650000,-0.350000,4.50,-13.000000,54584.500000,28.350000,33.1,0,0.09
23,Saudi Arabia,3.400000,-1.200000,16.00,-8.000000,84985.000000,27.857143,33.0,0,0.07
24,Senegal,1.600000,0.200000,16.00,-2.000000,41721.000000,26.300000,44.0,0,0.04
25,Serbia,4.000000,-1.400000,-9.00,-6.000000,41378.000000,27.181818,33.1,0,0.06
26,Spain,2.700000,1.400000,-6.50,6.000000,54454.000000,25.750000,47.5,1,0.45
27,Switzerland,2.100000,0.700000,3.00,-20.000000,39089.000000,27.521739,44.1,0,0.21
28,Tunisia,1.400000,0.000000,-6.00,8.500000,42725.000000,27.333333,32.9,0,0.15
29,United States,2.300000,-0.700000,-13.00,-34.000000,43418.000000,24.684211,43.9,0,0.00
30,Uruguay,1.200000,0.000000,4.00,7.000000,41663.000000,28.157895,33.0,1,0.66
31,Wales,2.500000,-1.300000,10.00,13.500000,42586.000000,26.823529,32.8,0,0.11

In [89]:
world_cups

,year,host_country,winner,runners_up,third,fourth,goals_scored,matches_played,qualified_teams,goals_per_match,decade,winner_flag
0,1930,Uruguay,Uruguay,Argentina,Usa,Yugoslavia,70,18,13,3.888889,1930,1
1,1934,Italy,Italy,Czechoslovakia,Germany,Austria,70,17,16,4.117647,1930,1
2,1938,France,Italy,Hungary,Brazil,Sweden,84,18,15,4.666667,1930,1
3,1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,22,13,4.000000,1950,1
4,1954,Switzerland,Germany Fr,Hungary,Austria,Uruguay,140,26,16,5.384615,1950,1
5,1958,Sweden,Brazil,Sweden,France,Germany Fr,126,35,16,3.600000,1950,1
6,1962,Chile,Brazil,Czechoslovakia,Chile,Yugoslavia,89,32,16,2.781250,1960,1
7,1966,England,England,Germany Fr,Portugal,Soviet Union,89,32,16,2.781250,1960,1
8,1970,Mexico,Brazil,Italy,Germany Fr,Uruguay,95,32,16,2.968750,1970,1
9,1974,Germany,Germany Fr,Netherlands,Poland,Brazil,97,38,16,2.552632,1970,1
10,1978,Argentina,Argentina,Netherlands,Brazil,Italy,102,38,16,2.684211,1970,1
11,1982,Spain,Italy,Germany Fr,Poland,France,146,52,24,2.807692,1980,1
12,1986,Mexico,Argentina,Germany Fr,France,Belgium,132,52,24,2.538462,1980,1
13,1990,Italy,Germany Fr,Argentina,Italy,England,115,52,24,2.211538,1990,1
14,1994,Usa,Brazil,Italy,Sweden,Bulgaria,141,52,24,2.711538,1990,1
15,1998,France,France,Brazil,Croatia,Netherlands,171,64,32,2.671875,1990,1
16,2002,Korea/Japan,Brazil,Germany,Turkey,Korea Republic,161,64,32,2.515625,2000,1
17,2006,Germany,Italy,France,Germany,Portugal,147,64,32,2.296875,2000,1
18,2010,South Africa,Spain,Netherlands,Germany,Uruguay,145,64,32,2.265625,2010,1
19,2014,Brazil,Germany,Argentina,Netherlands,Brazil,171,64,32,2.671875,2010,1
20,2018,Russia,France,Croatia,Belgium,England,169,64,32,2.640625,2010,1

In [92]:
team_stats

,match,dayofweek,match_time,home_team,away_team,home_xg,away_xg,score,attendance,venue,...,away_gks,home_throw_ins,away_throw_ins,home_long_balls,away_long_balls,goal_difference,xg_total,xg_diff,clearance_diff,long_ball_diff
0,1,Sun,2022-11-20 19:00:00,Qatar,Ecuador,0.3,1.2,0-2,67372,Al Bayt Stadium,...,7,20,17,51,70,-2.0,1.5,-0.9,11,-19
1,2,Mon,2022-11-21 16:00:00,England,Ir Iran,2.1,1.4,6-2,45334,Khalifa International Stadium,...,5,18,17,87,50,4.0,3.5,0.7,-19,37
2,3,Mon,2022-11-21 19:00:00,Senegal,Netherlands,0.9,0.7,0-2,41721,Al Thumama Stadium,...,10,17,28,64,66,-2.0,1.6,0.2,16,-2
3,4,Mon,2022-11-21 22:00:00,United States,Wales,0.8,1.5,1-1,43418,Ahmed bin Ali Stadium,...,10,22,25,56,90,0.0,2.3,-0.7,-13,-34
4,5,Tue,2022-11-22 13:00:00,Argentina,Saudi Arabia,2.2,0.1,1-2,88012,Lusail Iconic Stadium,...,9,24,13,55,59,-1.0,2.3,2.1,-15,-4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,60,Sat,2022-12-10 22:00:00,England,France,2.4,0.9,1-2,68895,Al Bayt Stadium,...,5,16,14,61,62,-1.0,3.3,1.5,-3,-1
60,61,Tue,2022-12-13 22:00:00,Argentina,Croatia,2.3,0.5,3-0,88966,Lusail Iconic Stadium,...,4,19,21,49,43,3.0,2.8,1.8,16,6
61,62,Wed,2022-12-14 22:00:00,France,Morocco,1.9,0.9,2-0,68294,Al Bayt Stadium,...,10,14,18,55,40,2.0,2.8,1.0,13,15
62,63,Sat,2022-12-17 18:00:00,Croatia,Morocco,0.7,1.2,2-1,44137,Khalifa International Stadium,...,11,14,19,53,46,1.0,1.9,-0.5,3,7
63,64,Sun,2022-12-18 18:00:00,Argentina,France,3.3,2.2,(4) 3-3 (2),88966,Lusail Iconic Stadium,...,13,26,21,73,94,NaN,5.5,1.1,6,-21

In [93]:
team_features

,team,xg_total,xg_diff,clearance_diff,long_ball_diff,attendance
0,Argentina,2.680000,1.200000,3.60,-13.800000,79988.400000
1,Australia,1.200000,0.000000,14.00,-24.000000,41232.000000
2,Belgium,2.850000,-1.050000,3.00,-0.500000,42085.000000
3,Brazil,2.666667,2.000000,-8.00,-14.000000,58533.000000
4,Cameroon,3.550000,-0.850000,12.00,18.500000,62887.500000
5,Canada,1.900000,0.900000,-14.00,-14.000000,43102.000000
6,Costa Rica,7.000000,-4.400000,37.00,14.000000,67054.000000
7,Croatia,2.925000,-0.625000,2.00,5.500000,44097.000000
8,Denmark,2.300000,0.500000,-26.00,7.000000,42925.000000
9,Ecuador,3.000000,-1.200000,-10.00,6.000000,44569.000000
10,England,2.500000,0.650000,-5.75,11.750000,62169.250000
11,France,3.350000,1.500000,-5.00,11.750000,48254.500000
12,Germany,4.600000,1.600000,-34.00,0.000000,42608.000000
13,Ghana,3.400000,-0.200000,-5.00,-2.000000,43443.000000
14,Ir Iran,1.600000,-0.800000,-3.00,23.000000,42127.000000
15,Japan,2.000000,0.333333,2.00,-12.333333,42951.000000
16,Korea Republic,3.200000,0.300000,-11.50,7.500000,44040.000000
17,Mexico,1.600000,-0.200000,-10.00,-15.000000,39369.000000
18,Morocco,1.633333,0.033333,23.00,-9.333333,49424.000000
19,Netherlands,2.300000,-0.300000,6.00,-1.750000,61174.500000
20,Poland,3.550000,-1.650000,18.00,27.000000,44174.000000
21,Portugal,3.000000,0.733333,0.00,16.666667,71683.333333
22,Qatar,1.650000,-0.350000,4.50,-13.000000,54584.500000
23,Saudi Arabia,3.400000,-1.200000,16.00,-8.000000,84985.000000
24,Senegal,1.600000,0.200000,16.00,-2.000000,41721.000000
25,Serbia,4.000000,-1.400000,-9.00,-6.000000,41378.000000
26,Spain,2.700000,1.400000,-6.50,6.000000,54454.000000
27,Switzerland,2.100000,0.700000,3.00,-20.000000,39089.000000
28,Tunisia,1.400000,0.000000,-6.00,8.500000,42725.000000
29,United States,2.300000,-0.700000,-13.00,-34.000000,43418.000000
30,Uruguay,1.200000,0.000000,4.00,7.000000,41663.000000
31,Wales,2.500000,-1.300000,10.00,13.500000,42586.000000